body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.app {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	width: fit-content;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 20px 40px;
	box-sizing: border-box;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 0px 24px 4px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 24px 4px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 24px 4px rgba(255, 255, 255, 1);
}

.textTa,
.morseTa {
	width: 70%;
	min-height: 250px;
	outline: none;
	/* border: 2px solid black; */
	font-size: 1.3rem;
	padding: 20px;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 10px;
	color: rgb(95, 95, 95);
	-webkit-box-shadow: inset 0px 0px 20px -1px rgba(163, 163, 163, 1);
	-moz-box-shadow: inset 0px 0px 20px -1px rgba(163, 163, 163, 1);
	box-shadow: inset 0px 0px 20px -1px rgba(163, 163, 163, 1);
}

.textTa {
	border-radius: 20px 20px 0 0;
}

.morseTa {
	border-radius: 0 0 20px 20px;
}

textarea::-webkit-input-placeholder {
	color: rgb(190, 190, 190);
}

textarea:-moz-placeholder {
	/* Firefox 18- */
	color: rgb(190, 190, 190);
}

textarea::-moz-placeholder {
	/* Firefox 19+ */
	color: rgb(190, 190, 190);
}

textarea:-ms-input-placeholder {
	color: rgb(190, 190, 190);
}

textarea::placeholder {
	color: rgb(190, 190, 190);
}
